/*Reset*/

    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, embed, footer, header, hgroup, menu, nav, output, section, {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: large;
        vertical-align: baseline;
        font-family: Verdana, Geneva, sans-serif;
        font-style: normal;
        line-height: normal;
        color: #000;
    }
    
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    
    body {
        line-heigth: 1;
    }
    
    ol, ul {
        list-style: none;
    }
    
    blockquote {
        quotes: none;
    }
    
    blockquote:before {
        content: ' \275D';
    }
    
    blockquote:after {
        content: ' \275E';
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

/* Containers */

    .container {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    
/* Grid */
       
.bioMain .item1 { grid-area: photo; }
.bioMain .item2 { grid-area: about; }
.bioMain .item3 { grid-area: captn; }
.bioMain.alt .item1 { grid-area: photo; }
.bioMain.alt .item2 { grid-area: about; }
.bioMain.alt .item3 { grid-area: captn; }

.bioMain .grid-container {
    display: grid;
    grid:
        500px 40px / auto auto auto auto auto auto;
        'photo photo photo about about about'
        'captn captn captn about about about';
    grid-gap: 5px;
    background-color: #939ab6;
    padding: 5px;
}

.bioMain.alt .grid-container {
    display: grid;
    grid:
        500px 40px / auto auto auto auto auto auto;
        'about about about photo photo photo'
        'about about about captn captn captn';
    grid-gap: 5px;
    background-color: #939ab6;
    padding: 5px;
}

.bioMain .grid-container > div {
    background-color: rgba(255,255,255, 0.8);
    text-align: center;
}

.bioMain .grid-container .item1 {
    justify-content: start;   
}

.bioMain .grid-container .item2 {
    justify-content: end;
}
.bioMain .grid-container .item3 {
    justify-content: end;
}
    
        

    
    
    
