/*Reset*/

    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, embed, footer, header, hgroup, menu, nav, output, section, {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: large;
        vertical-align: baseline;
        font-family: Verdana, Geneva, sans-serif;
        font-style: normal;
        line-height: normal;
        color: #000;
    }
    
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    
    body {
        line-heigth: 1;
    }
    
    ol, ul {
        list-style: none;
    }
    
    blockquote {
        quotes: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

/* Containers */

    .container {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    

/*Type*/

html {
        font-size: 13pt;
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 11pt;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 10pt;
    }
}

body {
    background-color: #fff;
    color: rgba(0,0,0, 0.5);
}

body, input, select, textarea {
    font-family: Impact, Charcoal, sans-serif;
    font-weight: 70;
    font-size: 1rem;
    line-height: 1.65;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong, b {
    font-weight: 600;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2rem 0;
}

p:last-child {
    font-family: Verdana, Geneva, sans-serif;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #999;
}

p.special {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 250;
    margin: 0 0 .5rem 0;
    padding: 0 0 1rem 0;
    letter-spacing: .25rem;
}

p.special:after {
    content: '';
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.125);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 1rem 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.35rem; }
h4 { font-size: 1.1rem; }
h5 { font-size: 0.9rem; }
h6 { font-size: 0.7rem; }

sub {
    font-size: 0.8rem;
    position: relative;
    top: 0.5rem;
}

sup {
    font-size: 0.8rem;
    position: relative;
    top: -0.5rem;
}

blockquote {
    border-left: solid 4px;
    font-style: italic;
    margin: 0 0 2rem 0;
    padding: 0.5rem 0 0.5rem 2rem;
}

blockquote:before {
        content: ' \275D';
    }
    
blockquote:after {
        content: ' \275E';
}

hr {
    border: 0;
    border-bottom: solid 1px;
    margin: 2rem 0;
}

.alignL {
    text-align: left;
}

.alignR {
    text-align: right;
}

.alignC {
    text-align: center;
}

input, select, textarea {
    color: #1e1f23;
}

a {
    color: #33cccc;
}

h1, h2, h3, h4, h5, h6 {
    color: #1e1f23;
}

h1 .alt, h2 .alt, h3 .alt, h4 .alt, h5 .alt, h6 .alt {
    color: #f0f8ff;
}

blockquote {
    border-left-color: rgba(144, 144, 144, 0.25);
}

/*Button*/

input[type="submit"],
input[type="reset"],
input[type="button"],
button,

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease in-out, color 0.2s ease in-out;
    -webkit-transition: background-color 0.2s ease in-out, color 0.2s ease in-out;
    -ms-transition: background-color 0.2s ease in-out, color 0.2s ease in-out;
    transition: background-color 0.2s ease in-out, color 0.2s ease in-out;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    height: 2.85rem;
    line-height: 2.95rem;
    padding: 14px 16px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

@media screen and (max-width: 480px) {
    
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        padding: 0;
        width: 100%;
    }
}

input[type="button"],
button,
.button {
    background-color: #cce9ff;
    color: #000 !important;
}

input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: white;
}

input[type="button"]:active,
button:active,
.button:active {
    background-color: #99ccff;
}

/*FORM (insert form here later)*/

.bioStyle {
    display: inline-block;
    position: relative;
}

.bioStyle .flush {
    margin: 0 !important;
}

.bioStyle img {
    display: block;
}

.bioStyle.left, .bioStyle.right {
    max-width: 50%;
}

.bioStyle.left img, .bioStyle.right img {
    width: 100%;
}

.bioStyle.left {
    float: left;
    margin: 0 1rem 1rem 0;
    top: 0.25rem;
}

.bioStyle.right {
    float: right;
    margin: 0 1rem 1rem 0;
    top: 0.25rem;
}

.bioStyle.fit {
    display: block;
    margin: 0 0 2rem 0;
    width: 100%;
}

.bioStyle.fit img {
    width: 100%;
}

.bioStyle.main {
    display: block;
    margin: 0 0 3rem 0;
    width: 100%;
}

.bioStyle.main img {
    width: 100%;
}

/* Video Container */

.VidsCon {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.VidsCon.alt {
    position: relative;
    top: 0;
    left: 0;
    min-width: 320;
    min-height: 180;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: 0;
}

.VidsCon video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.VidsCon iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* MENU MENU MENU MENU */


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 1s;
    
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 90px;
    color: #8e8e8e;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.menuS {
    overflow: hidden;
    backgroun-color: #333333;
    font-family: Arial;
    position: fixed;
    padding: 14px 16px;
    top: 0;
    width: 100%;
    z-index: 1000;
}

span {
    background-color: #333333;
    width:100%;
    padding: 10px;
    color: white;
    cursor: pointer;
}
    
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px;}
    .overlay .closebtn {
        font-size: 35px;
        top: 15px;
        right: 35px;
    }
}

/* Grid */

.bioMain {
    font-family: Impact, Charcoal, sans-serif;
}
       
.bioMain .item1 { grid-area: photo; }
.bioMain .item2 { grid-area: about; }
.bioMain .item3 { grid-area: captn; }
.bioMain.alt .item1 { grid-area: photo; }
.bioMain.alt .item2 { grid-area: about; }
.bioMain.alt .item3 { grid-area: captn; }

.bioMain .grid-container {
    display: grid;
    height: 480px;
    grid-template-areas:
        'photo photo photo about about about'
        'photo photo photo about about about'
        'photo photo photo about about about'
        'photo photo photo about about about'
        'captn captn captn about about about';
    grid-gap: 0px;
    background-color: #939ab6;
    padding: 5px;
}

.bioMain.alt .grid-container {
    display: grid;
    height: 480px;
    grid-template-areas:
        'about about about photo photo photo'
        'about about about photo photo photo'
        'about about about photo photo photo'
        'about about about photo photo photo'
        'about about about captn captn captn';
    grid-gap: 0px;
    background-color: #939ab6;
    padding: 5px;
}

.bioMain .grid-container > div {
    background-color: rgba(255,255,255, 0.8);
    text-align: center;
}


/*  Header */

    body { 
        background-image: url('webBG1.png');
        background-attachment: fixed;
        background-position: center;
        background-color: #102f45;
        background-repeat: no-repeat;
        background-size: 110% 110%;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -100;
}

#header {
    color: #a6a6a6;
    cursor: default;
    position: relative;
    text-align: center;
    z-index: 10001;
}

/* Main */

    .main {
        padding: 16px;
        margin-top: 30px;
}

    #main > .inner {
        margin: 0 auto;
        width: 80rem;
        max-width: 90%;
        margin-bottom: 2rem;
        background: rgba(255,255,255, 0.75);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0.75);
        border-radius: 4px;
}

.wrapper > header {
    text-align: center;
    background: #fff;
    padding: 2rem;
    margin: 0;
    z-index: 0;
}

.wrapper > header h2 {
    position: relative;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper > header h2:after {
    content: '';
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 1px;
    background-color: rgba(0,0,0, 0.125);
}

.wrapper > header p {
    text-transform: uppercase;
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: .25rem;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}

.wrapper.style1 .content {
    padding: 2rem;
}

.wrapper.style2 {
    background: rgba(30,31,35, 0.5);
    padding: 2rem;
}

.wrapper.style2 header {
    background: rgba(52,55,66, 0.5);
    border-radius: 4px 4px 0 0;
    color: #f0f8ff !important;
}

#footer {
    padding: 2rem 0 0.1rem 0;
    text-align: center;
}

#footer a {
    color: rgba(255, 255, 255, 0.75);
}

#footer a:hover {
    color: #fff;
}

#footer .copyright {
    color: #bbb;
    font-size: 0.9rem;
    margin: 0 0 2rem 0;
    padding: 0 1rem;
    text-align: center;
}
    
        

    
    
    
