body {
  background: #212b34;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  margin: auto;
  border: none;
  border-radius: 5px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel h2 {
	font-size: 1.75em;
  	text-align: center;
  	color: #3585c6;
  	text-shadow: 2px 2px 5px black;
}
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #161d23;
}

.topnav a {
  float: left;
  color: #afbfcc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #6095bd;
  color: black;
}

.topnav a.active {
  background-color: #3585c6;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
ul.a {
  list-style-image: url('brushicon.png');
}
.quote-box {
  width: 80%;
  box-shadow: 5px 5px 10px black;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  background: #afbfcc;
  border-radius: 25px;
}
.proc {
  width: 80%;
  box-shadow: 5px 5px 10px black;
  background: #afbfcc;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 25px;
  z-index: 10;
}

.quote-a {
 padding: 15px;
 font-family: 'Flamenco';
 font-size: 1.5em;
 color: #161d23;
 }

.quote-b {
  padding: 15px;
  font-family: 'Dekko';
  font-size: 2em;
  color: #161d23;
}

.quote-c {
  padding: 30px;
  font-family: 'Almendra';
  font-size: 2.5em;
  color: #161d23;
}

.quote-d {
	padding: 30px;
	font-family: 'Indie Flower';
	font-size: 2em;
	color: #161d23;
}

.quote-e {
	padding: 30px;
	font-family: 'Joti One';
	font-size: 2em;
	color: #161d23;
}
div.polaroid {
  width: 90%;
  margin: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.main { 
  width: 90%;
  padding: 30px 0px;
  height: 100%;
  margin: auto;
  background-image: linear-gradient(#3585c6, #3585c6, #b0c0cd);
  z-index: -10;
}

h1{
  font-family: 'Emblema One';
  font-size: 3.5em;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 10px black;
}
h2{
  font-family: 'Emblema One';
  font-size: 2.5em;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 10px black;
}
@media screen and (max-width: 600px) {
h1 {
font-size: 1.75em;
}
h2 {
font-size: 1em;
}	
p {
font-size: .75em;
padding: 5px;
}
.proc {
  padding: 10px;
  }
	.quote-e {
		font-size: 1em;
		padding: 5px;
	}
.quote-d {
	font-size: 1em;
	padding: 5px;
	}
.quote-c {
  font-size: 1em;
  padding: 5px;
  }
.quote-b {
  font-size: .75em;
  padding: 5px;
 }
.quote-a {
  font-size: .75em;
  padding: 5px;
 }
	.panel h2 {
	font-size: .75em;
	}
}
p {
  line-height: 1.6;
  font-family: 'Epilogue';
}

.foot {
  padding: 2rem 0 0.1rem 0 ;
	text-align: center;
        color: white;
}

.foot a {
  text-decoration: none;
	color: rgba(255, 255, 255, 0.75);
}

.foot a:hover {
	color: #FFF;
}

.foot ul {
  list-style: none;
}
